body {
    background-color: black;
}

label {
    font-size: 110%;
    color: white;
    padding-right: 5px;
}

table, td {
    color: black;
    background-color: white;
    margin: 10px;
    border: 1px solid black;
}

td {
    padding: 2px;
}

#closebtn {
    margin-right: 3px;
    margin-top: 3px;
    text-align: right
}

#mine {
    color: white;
    font-size: 150%;
    padding-left: 10px;
}

#query-form {
    padding: 10px;
}

#popup {
    color: black;
    background-color: white;
    margin: 10px;
}

#edgeinfo {
    color: black;
    background-color: white;
    margin: 10px;
}